<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >

    </head>
    <body style="padding:0;margin:0;background: #f3f3f3;font-family:arial, 'helvetica neue', helvetica, serif" >
    <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="padding: 0 0 35px 0; background: #f3f3f3;">
    <tr>
        <td align="center" style="margin: 0; padding: 0;">
          <center>
            <table border="0" cellpadding="0" cellspacing="0" width="580" style="margin-top:20px">
   
                        <tr>
                            <td style="background:#fff;border:1px solid #e1e1e1;font-size:13px;font-family:arial, helvetica, sans-serif;padding:20px;line-height:20px;" >
                                <h2 style="text-align:center;">Veselé a šťastné Vánoce</h2>
                                <img style="float:right;" src="http://umbro.cz{$basePath}/images/image_1.jpg" alt="" />
                                <p>Vážený zákazníku,</p>
                                <p>Děkujeme Vám za Váš nákup v rámci V.I.P. UMBRO HAPPY DAYS.</p>
                                <p>Jako poděkování jsme si pro Vás připravili <strong>dárek</strong>. Přijďte a nakupte v termínu od 17.12. do 23.12. na naší prodejně Factory store & outlet v Moulíkově ulici a obdržíte od nás dárek v hodnotě 10% z výše Vašeho nákupu, dle Vašeho výběru.</p>
                                <p>Vánoce v Umbru začaly a my rozdáváme každému z Vás dárek! Tak přijďte si pro ten Váš.</p>

                                <p>Vaše Umbro</p>
                                <br /><br />

                                Jak získat dárek:
                                <ol>
                                    <li>vyberete si zboží a na pokladně ho zaplatíte – obdržíte paragon</li>
                                    <li>po zaplacení si na prodejně vyberete ze zboží dárek</li>
                                    <li>dárek spolu s paragonem za zakoupené zboží ukážete opět na pokladně, kde Vám vystavíme doklad GRATIS (pro evidenci a případné výměny)</li>
                                    <li>na paragon za zakoupené zboží bude zaevidován odběr dárku (takovýto paragon poté nelze uplatnit pro výběr dárku)</li>
                                    <li>v případě, že dárek přesahuje svou hodnotou 10% z Vašeho nákupu, doplatíte pouze rozdíl hodnoty dárku přesahující 10% z Vašeho nákupu</li>
                                    <li>hodnota dárku je stanovena v max. výši 10% z Vašeho nákupu</li>
                                    <li>v případě nevyčerpání 10%, peníze do této výše nevracíme</li>
                                </ol>
                                <br />

                                <p style="text-align:center;"><strong>Příjemné a klidné prožití Vánočních svátků Vám přeje UMBRO.</strong></p>
                                <p style="text-align:center;">
                                    <img src="http://umbro.cz{$basePath}/images/image_2.jpg" alt="" />
                                </p>
   
                                
                                    
                            </td>
                        </tr>
                    </table>
                </center>
            </td>
        </tr>
    </table>
    </body>
    </html>