
{block #topText}
{/block}

{block content}
    
    Děkujeme za vyplnění formuláře, byl jste úspěšně zaregistrován na akci V.I.P. UMBRO SPRINGTIME v termínu <b>{$event[start_date]|date:'j.n.Y'} - {$event[end_date]|date:'j.n.Y'}</b>. Na Vámi uvedenou adresu byly zaslány informace k akci, včetně pozvánky.

